/*Barra de navegación*/ 
header {
    background-color: #333;
    color: #fff;
    height: 60px;
    margin-top: -150px;
}
a{
    color: #fff;
}
header .main-menu a:hover, a:hover{
    color: orangered;
    text-decoration: none;
}
header .main-menu .dropdown-menu.show{
    background-color: #333;
    padding: 15px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.company-logo {
    font-size: 20px;
    margin-right: 20px;
}

.back-office {
    font-size: 14px;
    font-style: italic;
}

.navbar-right .main-menu {
    list-style-type: none;
    margin: 0;
    padding-right: 0px;
    display: flex;
}

.navbar-right .main-menu li {
    margin-right: 20px;
}

.navbar-right .main-menu li:last-child {
    margin-right: 0;
}

.navbar-right .main-menu a {
    text-decoration: none;
    color: #fff;
}
.sidebar{
    background-color: #333;
    width: 15%;
    height: 500px;
    color: #fff;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 10px;
}
.sidebar-menu li{
    text-decoration: none;
    list-style: none;
    margin-bottom: 20px;
}