.panel{
    margin-top: -500px;
    margin-left: 210px;
    
}
.card-panel{
    padding: 5px 0px;
/*    border: 2px solid #818181;
    border-radius: 10px;*/
    /*margin-bottom: 10px;*/
}
.card-panel h4{
    background: rgba(000, 000, 000, 0.8);
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.card-panel h4 i{
    margin-right: 8px;
}